{% extends "layout.html" %}

{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">{{ _('back_dashboard') }}</a></li>
    </ul>
</nav>

<article>
    <header>{{ _('create_client_btn') }}</header>
    <form method="post">
        <label for="client_name">{{ _('client_name') }}</label>
        <input type="text" id="client_name" name="client_name" placeholder="{{ _('name_placeholder') }}" required pattern="[a-zA-Z0-9_-]+" title="Alphanumeric characters, underscores and hyphens only">
        <small>{{ _('name_help') }}</small>

        <button type="submit">{{ _('create_client_btn') }}</button>
    </form>
</article>
{% endblock %}
